<div class="banner" id="home1">
<div class="container">
	<div class="logo animated wow zoomIn" data-wow-delay=".5s">
		<h1><a href="/"><span></span><p class="top-title">Karolina i Maciej</p><br><br>2 września 2017r</a></h1>
	</div>
</div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="navigation">
		<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				<nav class="link-effect-14" id="link-effect-14">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/"><span>Strona główna</span></a></li>
						<li><a href="#counter" class="scroll"><span>Ogłoszenie</span></a></li>
						<li><a href="#events" class="scroll"><span>Aktualności</span></a></li>
						<!-- <li><a href="#gmap" class="scroll"><span>Mapka</span></a></li> -->
						<li><a href="#footer" class="scroll"><span>Informacje</span></a></li>
					</ul>
				</nav>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
<div class="banner-bottom" id="about">
<div class="container">
	<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Widzimy się za</span></h3>
	<div id="counter"> </div>
</div>
<!-- <div class="banner-bottom-grids animated wow slideInLeft" data-wow-delay=".5s">
	<ul id="flexiselDemo1">
		<li>
			<div class="banner-bottom-grid">
        <%= image_tag "1.jpg", class: "img-responsive" %>
			</div>
		</li>
		<li>
			<div class="banner-bottom-grid">
        <%= image_tag "2.jpg", class: "img-responsive" %>
			</div>
		</li>
		<li>
			<div class="banner-bottom-grid">
        <%= image_tag "3.jpg", class: "img-responsive" %>
			</div>
		</li>
		<li>
			<div class="banner-bottom-grid">
        <%= image_tag "4.jpg", class: "img-responsive" %>
			</div>
		</li>
		<li>
			<div class="banner-bottom-grid">
        <%= image_tag "5.jpg", class: "img-responsive" %>
			</div>
		</li>
		<li>
			<div class="banner-bottom-grid">
        <%= image_tag "6.jpg", class: "img-responsive" %>
			</div>
		</li>
	</ul>
</div> -->
<!-- </div> -->
<!-- //banner-bottom -->
<!-- team -->
<!-- <div class="team" id="team">
<div class="container">
	<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Meet Our Team</span></h3>
	<div class="team-grids">
		<div class="col-md-3 team-grid animated wow slideInLeft" data-wow-delay=".5s">
			<div class="team-grid1">
        <%= image_tag "8.jpg", class: "img-responsive" %>
			</div>
			<h4>James Win</h4>
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
				suscipit.</p>
			<ul class="social-icons">
				<li><a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
				<li><a href="#" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
				<li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
			</ul>
		</div>
		<div class="col-md-3 team-grid animated wow slideInLeft" data-wow-delay=".6s">
			<div class="team-grid1">
        <%= image_tag "9.jpg", class: "img-responsive" %>
			</div>
			<h4>Sunny</h4>
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
				suscipit.</p>
			<ul class="social-icons">
				<li><a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
				<li><a href="#" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
				<li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
			</ul>
		</div>
		<div class="col-md-3 team-grid animated wow slideInLeft" data-wow-delay=".7s">
			<div class="team-grid1">
        <%= image_tag "10.jpg", class: "img-responsive" %>
			</div>
			<h4>Laura</h4>
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
				suscipit.</p>
			<ul class="social-icons">
				<li><a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
				<li><a href="#" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
				<li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
			</ul>
		</div>
		<div class="col-md-3 team-grid animated wow slideInLeft" data-wow-delay=".8s">
			<div class="team-grid1">
        <%= image_tag "11.jpg", class: "img-responsive" %>
			</div>
			<h4>Andrew Carl</h4>
			<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
				suscipit.</p>
			<ul class="social-icons">
				<li><a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
				<li><a href="#" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
				<li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
</div> -->
<!-- //team -->
<!-- services -->
<!-- <div class="services" id="services">
<div class="container">
	<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Services</span></h3>
	<div class="services-grids">
		<div class="col-md-3 services-grid">
			<div class="services-grid1">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			</div>
			<div class="bootstrap-pop-up">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				  quo voluptas nulla natus
				</button> -->
				<!-- Modal -->
				<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
					  </div>
					  <div class="modal-body">
						"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<p>Totam rem aperiam, eaque ipsa quae ab illo
				inventore veritatis et beatae vitae dicta sunt.</p>
		</div>
		<div class="col-md-3 services-grid">
			<div class="services-grid1">
				<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
			</div>
			<div class="bootstrap-pop-up">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				  ipsa quae abillo aperiam
				</button> -->
				<!-- Modal -->
				<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
					  </div>
					  <div class="modal-body">
						"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<p>Totam rem aperiam, eaque ipsa quae ab illo
				inventore veritatis et beatae vitae dicta sunt.</p>
		</div>
		<div class="col-md-3 services-grid">
			<div class="services-grid1">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
			</div>
			<div class="bootstrap-pop-up">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				  voluptas sit aspernatur
				</button> -->
				<!-- Modal -->
				<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
					  </div>
					  <div class="modal-body">
						"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<p>Totam rem aperiam, eaque ipsa quae ab illo
				inventore veritatis et beatae vitae dicta sunt.</p>
		</div>
		<div class="col-md-3 services-grid">
			<div class="services-grid1">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			</div>
			<div class="bootstrap-pop-up">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				  error sit voluptatem eaque
				</button> -->
				<!-- Modal -->
				<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Nuptials</h4>
					  </div>
					  <div class="modal-body">
						"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
						inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<p>Totam rem aperiam, eaque ipsa quae ab illo
				inventore veritatis et beatae vitae dicta sunt.</p>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="services-grids-wedding">
		<div class="services-grids-wedding1">
			<div class="services-grids-wedding-left animated wow slideInLeft" data-wow-delay=".5s">
        <%= image_tag "5.png", class: "img-responsive" %>
				<h4>Michael Drew</h4>
			</div>
			<div class="services-grids-wedding-right animated wow slideInRight" data-wow-delay=".5s">
        <%= image_tag "6.png", class: "img-responsive" %>
				<h4>Laura Carl</h4>
			</div>
			<div class="clearfix"> </div>
		</div>
		<h5 class="animated wow slideInUp" data-wow-delay=".5s">We are getting married !</h5>
		<p class="animated wow slideInUp" data-wow-delay=".5s">4th avenue, Main Cross Road, New York City.</p>
	</div>
</div>
</div> -->
<!-- //services -->
<!-- services-bottom -->
<div class="services-bottom">
<div class="container" id="services-bottom">
	<h2 class="animated wow slideInLeft" data-wow-delay=".5s">2 września to będzie dla nas niezwykle ważny dzień.<br>Bardzo liczymy na Waszą obecność.<br>
Prosimy o odpowiedzi na zaproszenia<br>
Karolina (668163402) Maciej (723775186)<br>
lub<br>wesele@panasiewicz.pl</h2>
	<p class="animated wow slideInUp" data-wow-delay=".5s">Karolina & Maciej</p>
</div>
</div>
<!-- //services-bottom -->
<!-- news -->
<div class="news" id="events">
<div class="container">
	<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Aktualności</span></h3>
	<div class="news-grids">
		<div class="news-grid-left">
			<div class="bootstrap-pop-up">
				<button type="button" class="btn btn-primary btn-primary-news btn-lg" data-toggle="modal" data-target="#myModal">
				  Witamy na naszej weselnej stronie. To dopiero początek, zamierzamy ją na bieżąco uzupełniać o nowe informacje.
				</button>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Auguste Bekannte</h4>
					  </div>
					  <div class="modal-body">
							"Nie wystarczy pokochać, trzeba jeszcze umieć wziąć tę miłość w ręce i przenieść ją przez całe życie."
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<div class="bootstrap-pop-up1">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#galczynski">
        <%= image_tag "photos/IMG_6171.JPG", class: "img-responsive" %>
				</button>
				<!-- Modal -->
				<div class="modal fade" id="galczynski" tabindex="-1" role="dialog" aria-labelledby="galczynski">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="galczynski">Konstanty Ildefons Gałczyński</h4>
					  </div>
					  <div class="modal-body">
							Na wspólną radość,<br>
							na chleb powszedni,<br>
							na poranne otarcie oczu<br>
							w blasku słonecznym,<br>
							na nieustające sobą zdziwienie,<br>
							na gniew, krzywdę i przebaczenie<br>
							wybieram Ciebie.
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<div class="readmore-text">
				<p class="animated wow slideInLeft" data-wow-delay=".5s">Zakochani i świadomi, że ich miłość to nie wiatr mają zaszczyt zawiadomić, że chcą razem iść przez świat uśmiechnięci, współ - objęci spróbujemy szukać zgody choć różnimy się od siebie jak dwie krople czystej wody.</p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
</div>
<!-- //news -->
<!-- gallery -->
<!-- <div class="gallery" id="gallery">
<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Photo Gallery</span></h3>
<div class="gallery-grids">
	<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
		<ul id="myTab" class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">All</a></li>
			<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Wedding</a></li>
			<li role="presentation"><a href="#costumes" role="tab" id="costumes-tab" data-toggle="tab" aria-controls="costumes">Costumes</a></li>
			<li role="presentation"><a href="#honeyMoon" role="tab" id="honeyMoon-tab" data-toggle="tab" aria-controls="honeyMoon">HoneyMoon</a></li>
			<li role="presentation"><a href="#celebrations" role="tab" id="celebrations-tab" data-toggle="tab" aria-controls="celebrations">Celebrations</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
				<div class="tab_img">
					<div class="col-md-3 portfolio-grids">
						<a href="images/13.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
              <%= image_tag "13.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/15.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
              <%= image_tag "15.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/16.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
              <%= image_tag "16.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/17.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
              <%= image_tag "17.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="tab_img">
					<div class="col-md-3 portfolio-grids">
						<a href="images/18.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
              <%= image_tag "18.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/19.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
              <%= image_tag "19.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/20.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "20.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/21.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "21.jpg", class: "img-responsive" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				<div class="tab_img">
					<div class="col-md-3 portfolio-grids">
						<a href="images/16.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "16.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/17.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "17.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/18.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "18.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="costumes" aria-labelledby="costumes-tab">
				<div class="tab_img">
					<div class="col-md-3 portfolio-grids">
						<a href="images/20.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "20.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/21.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "21.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="honeyMoon" aria-labelledby="honeyMoon-tab">
				<div class="tab_img">
					<div class="col-md-3 portfolio-grids">
						<a href="images/13.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "13.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/16.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "16.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/15.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "15.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="celebrations" aria-labelledby="celebrations-tab">
				<div class="tab_img">
					<div class="col-md-3 portfolio-grids">
						<a href="images/22.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "22.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="col-md-3 portfolio-grids">
						<a href="images/23.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
							<%= image_tag "23.jpg", class: "img-responsive zoom-img" %>
							<div class="b-wrapper">
								<h5>Nuptials</h5>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
</div> -->
<!-- //gallery -->
<!-- footer -->
<div class="footer" id="footer">
<div class="container">
	<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#transport">Transport</a></li>
    <li><a data-toggle="tab" href="#nights">Noclegi</a></li>
    <li><a data-toggle="tab" href="#children">Dzieci na weselu</a></li>
    <li><a data-toggle="tab" href="#gifts">Upominki</a></li>
    <li><a data-toggle="tab" href="#tour">Wycieczka po Toruniu</a></li>
  </ul>
	<div class="tab-content">
    <div id="transport" class="tab-pane fade in active">
      <h3>Transport</h3>
      <p>Para Młoda zapewnia transport z kościoła na salę weselną oraz z sali weselnej do miejsc noclegowych
Będziemy wdzięczni za informację o chęci skorzystania z transportu, tematem zajmuje się Wiktor Wiśniewski, brat Karoliny(721770939).</p>
    </div>
    <div id="nights" class="tab-pane fade">
      <h3>Noclegi</h3>
      <p>Para Młoda zapewnia nocleg po zabawie weselnej.
Rozmieszczeniem gości w miejscach noclegowych zajmuje się Wiktor Wiśniewski, brat Karoliny(721770939).</p>
    </div>
    <div id="children" class="tab-pane fade">
      <h3>Dzieci na weselu</h3>
      <p>Podczas wesela zostanie zorganizowany kącik zabaw dla dzieci.
Nad dziećmi będzie przez cały czas czuwała profesjonalna niania.</p>
    </div>
    <div id="gifts" class="tab-pane fade">
      <h3>Upominki</h3>
      <p>Najważniejsza dla nas jest Wasza obecność.
Jeśli jednak zechcecie obdarować nas upominkiem rzeczowym, zachęcamy do kontaktu z nami lub z Wiktorem Wiśniewskim, bratem Karoliny(721770939).
Dzięki temu zapobiegniemy powtórzeniom prezentów. Wiktor również podpowie, co może się nam przydać. </p>
    </div>
    <div id="tour" class="tab-pane fade">
      <h3>Wycieczka po Toruniu</h3>
      <p>Wiemy, że wielu z Was jest w Toruniu po raz pierwszy. Zarówno dla tych, którzy w Toruniu jeszcze nie byli, jak i dla tych, którzy mieszkają w nim od dzieciństwa, zorganizujemy wycieczkę po przepięknej starówce.
Przed poprawinami certyfikowany toruński przewodnik oprowadzi wszystkich chętnych po starówce, opowie tajemnicze historie o mieście i wskaże główne zabytki.
Serdecznie zapraszamy do skorzystania z tej okazji! Pamiętajcie o wygodnym obuwiu, bo toruńska kostka brukowa nie ma litości dla obcasów. :-)​</p>
    </div>
  </div>
	<!-- <div class="footer-pos">
		<a href="#home1" class="scroll"><%= image_tag "7.png", class: "img-responsive"%></a>
	</div>
	<div class="footer-logo">
		<a href="index.html" class="animated wow zoomIn" data-wow-delay=".5s">Nuptials</a>
		<p class="animated wow slideInUp" data-wow-delay=".5s">we are social</p>
	</div>
	<ul class="social-icons animated wow slideInUp" data-wow-delay=".6s">
		<li><a href="#" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
		<li><a href="#" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
		<li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
		<li><a href="#" class="icon-button g-plus"><i class="icon-g-plus"></i><span></span></a></li>
	</ul>
	<div class="copyright">
		<p class="animated wow slideInLeft" data-wow-delay=".5s">© 2016 Nuptials. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div> -->
</div>
</div>
<!-- //footer -->
