<div class="banner" id="home1">
  <div class="container">
    <div class="logo animated wow zoomIn" data-wow-delay=".5s">
      <h1>
        <a href="/">
          <span>
          </span>
          <p class="top-title">Karolina i Maciej<br />
          <br />biorą ślub<br />
          <br />2 września 2017r.</p>
        </a>
      </h1>
    </div>
  </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="navigation">
  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
      <nav class="link-effect-14" id="link-effect-14">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">
              <span>Strona główna</span>
            </a>
          </li>
          <li>
            <a href="#events" class="scroll">
              <span>Aktualności</span>
            </a>
          </li>
          <li>
            <a href="#about-us" class="scroll">
              <span>O nas</span>
            </a>
          </li>
          <li>
            <a href="#map-title" class="scroll">
              <span>Mapka</span>
            </a>
          </li>
          <li>
            <a href="#footer" class="scroll">
              <span>Informacje</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>
<div class="banner-bottom" id="about">
  <div class="container">
    <h3 class="animated wow zoomIn" data-wow-delay=".5s" id='counter_heading'>
      <span>Widzimy się za</span>
    </h3>
    <div id="counter">
    </div>
  </div>
  <!-- services-bottom -->
  <div class="services-bottom">
    <div class="container" id="services-bottom">
      <p class="animated wow slideInLeft" data-wow-delay=".5s" id="rsvp">Dziękujemy za wszystkie odpowiedzi.<br>Już wiemy, że będzie nas dużo,<br>a zabawa w takim gronie to czysta przyjemność</p>
      <p class="animated wow slideInUp" data-wow-delay=".5s">Karolina & Maciej</p>
    </div>
  </div>
  <!-- //services-bottom -->
  <!-- news -->
  <div class="news" id="events">
    <div class="container">
      <h3 class="animated wow zoomIn" data-wow-delay=".5s">
        <span>Aktualności</span>
      </h3>
      <div class="news-grids">
        <div class="news-grid-left">
          <div class="bootstrap-pop-up">
            <h4>Specjalne diety</h4>
            <p>
              Jeśli ktoś z Was ma specjalne wymagania co do diety - np. wegetariańska,<br \>
              poprosimy o informację, żeby zdążyć poinformować firmę cateringową.
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up1">
            <%= cl_image_tag('dieta1_tdk1dv.jpg', class: 'img-responsive rings') %>

          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up">
            <h4>Usiądziemy wszyscy razem</h4>
            <p>
              My już wiemy, kto z kim usiądzie podczas wesela. Staraliśmy dobrać się jak najtrafniej.
              Liczymy na to, że niezależnie od numeru stołu, bawić się będzie każdy z każdym!
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up1">
            <%= cl_image_tag('wokol-stolu-01_jprwv5.jpg', class: 'img-responsive rings') %>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up">
            <h4>Obrączki</h4>
            <p>​Powoli idziemy z organizacją do przodu. Zapadła decyzja o obrączkach.​Nie możemy się doczekać, aż je nałożymy!​</p>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up1">
            <%= cl_image_tag('wedding_rings_bd8ehm.png', class: 'img-responsive rings') %>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up">
            <h4>Garnitur, nie było łatwo</h4>
            <div class='container'>
              <div class='row'>
                <div class="col-md-3"><%= cl_image_tag('white_f2kpbf.jpg', class: 'img-responsive suit') %></div>
                <div class="w-100"></div>
                <div class="col-md-3"><%= cl_image_tag('black_surdut_gbpefy.jpg', class: 'img-responsive suit') %></div>
                <div class="w-100"></div>
                <div class="col-md-3"><%= cl_image_tag('granat_surdut_yofdpj.jpg', class: 'img-responsive suit') %></div>
                <div class="w-100"></div>
                <div class="col-md-3"><%= cl_image_tag('bordowy_tquvq8.jpg', class: 'img-responsive suit') %></div>
              </div>
            </div>
          </div>
          <div class="bootstrap-pop-up">
            <h4>Majówka w Rzymie</h4>
            <p>Tegoroczną majówkę spędziliśmy w Rzymie! Pełne 8 dni relaksu.<br \>Stolica Włoch oferuje moc zabytków, wspaniałych kawiarni i niesamowitą atmosferę pozwalającą na refleksje zarówno historyczne, jak i duchowe. </p>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up1">
            <%= cl_image_tag('tu_fotka_z_rzymu_rlwisu.jpg', class: 'img-responsive') %>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up">
            <h4>Rozdajemy zaproszenia</h4>
            <p>Wręczanie zaproszeń to dla nas ogromna przyjemność.<br \>Okazja do spotkania się i porozmawiania z osobami, które są dla nas ważne.</p>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up">
            <h4>Witamy!</h4>
            <button type="button" class="btn btn-primary btn-primary-news btn-lg" data-toggle="modal" data-target="#myModal">				  Witamy na naszej weselnej stronie. To dopiero początek, zamierzamy ją na bieżąco uzupełniać o nowe informacje.				</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Auguste Bekannte</h4>
                  </div>
                  <div class="modal-body">							"Nie wystarczy pokochać, trzeba jeszcze umieć wziąć tę miłość w ręce i przenieść ją przez całe życie."					  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="bootstrap-pop-up1">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#galczynski">
              <%= cl_image_tag('IMG_5133_fcxxoy.jpg', class: 'img-responsive') %>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="galczynski" tabindex="-1" role="dialog" aria-labelledby="galczynski">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="galczynski">Konstanty Ildefons Gałczyński</h4>
                  </div>
                  <div class="modal-body">							Na wspólną radość,<br>							na chleb powszedni,<br>							na poranne otarcie oczu<br>							w blasku słonecznym,<br>							na nieustające sobą zdziwienie,<br>							na gniew, krzywdę i przebaczenie<br>							wybieram Ciebie.					  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us" id="about-us">
    <div class="container">
      <div class="col-md-6 testimonials-grid-right">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">
          <span>Panna Młoda</span>
        </h3>
        <h4 class="testimonials-dummy animated wow slideInUp" data-wow-delay=".5s">Karolina</h4>
        <div class="example1 animated wow slideInUp" data-wow-delay=".5s">
          <article>
            <div class="banner-wrap">
              <div class="testimonials-grid-left-grids">
                <%= cl_image_tag('foka_Karolina_vjfl8p.jpg', class: 'img-responsive') %>
                <p>Niezwykle twórcza i pełna pomysłów. Uwielbia podróżować i aktywnie spędzać czas. Dla niej udany dzień to taki, w którym spróbowała lub nauczyła się czegoś nowego. Pracuje jako kierownik projektów, a zasady efektywności i dobrej organizacji wciela też w życiu codziennym. Przy niej nie da się nudzić!</p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="col-md-6 testimonials-grid-right">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">
          <span>Pan Młody</span>
        </h3>
        <h4 class="testimonials-dummy animated wow slideInUp" data-wow-delay=".5s">Maciej</h4>
        <div class="example1 animated wow slideInUp" data-wow-delay=".5s">
          <article>
            <div class="banner-wrap">
              <div class="testimonials-grid-left-grids">
                <%= cl_image_tag('fotka_Maciej_rfdrtw.jpg', class: 'img-responsive') %>
                <p>Miłośnik wody. Gdyby tylko mógł, cały dzień spędziłby nad jeziorem. Z małymi przerwami na trening na siłowni, którego prawie nigdy nie opuszcza.Z wykształcenia inżynier, z zawodu programista. Do pracy podchodzi z całkowitym zaangażowaniem i pasją. Przy nim czujesz się swobodnie!</p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
  <div class="map" id="map-title">
    <div class="container">
      <h3 class="animated wow zoomIn"data-wow-delay=".5s">
        <span>Mapka</span>
      </h3>
      <div class="map-frame">
        <div id="map">
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="footer" id="footer">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#transport">Transport</a>
        </li>
        <li>
          <a data-toggle="tab" href="#nights">Noclegi</a>
        </li>
        <li>
          <a data-toggle="tab" href="#children">Dzieci na weselu</a>
        </li>
        <li>
          <a data-toggle="tab" href="#gifts">Upominki</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tour">Wycieczka po Toruniu</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="transport" class="tab-pane fade in active">
          <h3>Transport</h3>
          <p>Para Młoda zapewnia transport z kościoła na salę weselną oraz z sali weselnej do miejsc noclegowych.<br \>Będziemy wdzięczni za informację o chęci skorzystania z transportu, tematem zajmuje się Wiktor Wiśniewski, brat Karoliny(721770939).</p>
        </div>
        <div id="nights" class="tab-pane fade">
          <h3>Noclegi</h3>
          <p>Para Młoda zapewnia nocleg po zabawie weselnej.<br \>
             Informacji o miejscu noclegowym udziela: Wiktor Wiśniewski, brat Karoliny<br \>
             (721 770 939 / wikar.torun@gmail.com).<br \>
             Jeśli ktoś z Was chciałby spędzić w Toruniu więcej czasu i jest zainteresowany noclegiem dzień wcześniej lub później<br \>
             to podczas rezerwacji proszę poinformujcie, że jesteście gośćmi Karoliny i Macieja.<br \>
             Obsługa hotelu w miarę możliwości tak dopasuje rozkład miejsc,<br \>
             żebyście mogli spędzić noce w tym samym pokoju, bez przenoszenia rzeczy.</p>
        </div>
        <div id="children" class="tab-pane fade">
          <h3>Dzieci na weselu</h3>
          <p>Podczas wesela zostanie zorganizowany kącik zabaw dla dzieci.<br \>OD 18:00 do północy nad dziećmi będzie czuwała profesjonalna niania.</p>
        </div>
        <div id="gifts" class="tab-pane fade">
          <h3>Upominki</h3>
          <p>Najważniejsza dla nas jest Wasza obecność.<br \>Jeśli jednak zechcecie obdarować nas upominkiem rzeczowym, zachęcamy do kontaktu z nami lub z Wiktorem Wiśniewskim, bratem Karoliny(721770939).<br \>Dzięki temu zapobiegniemy powtórzeniom prezentów.<br \>Wiktor również podpowie, co może się nam przydać. </p>
        </div>
        <div id="tour" class="tab-pane fade">
          <h3>Wycieczka po Toruniu</h3>
          <p>Wiemy, że wielu z Was jest w Toruniu po raz pierwszy.<br \>Zarówno dla tych, którzy w Toruniu jeszcze nie byli, jak i dla tych, którzy mieszkają w nim od dzieciństwa, zorganizujemy wycieczkę po przepięknej starówce.<br \>Przed poprawinami certyfikowany toruński przewodnik oprowadzi wszystkich chętnych po starówce, opowie tajemnicze historie o mieście i wskaże główne zabytki.<br \>Serdecznie zapraszamy do skorzystania z tej okazji!<br \>Pamiętajcie o wygodnym obuwiu, bo toruńska kostka brukowa nie ma litości dla obcasów. :-)​</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Wiktor -->
